.greeting{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.time{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}